.title{
    font-size: 32px;
    text-align: center;
    margin: 0;
    margin: 32px 32px 16px 32px;
    color: #FFFFFF;
}
.completedTasks {
    font-size: 16px;
    text-align: center;
    margin: 0 0 16px 0;
    color: #FFFFFF;

}
.completedTasks span{
    font-weight: bold;
    color: #FFFFFF;
}