:root{
    --purple-decoration: #8B00FF;
    --blue-decoration: #61DAFA;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.todoContainer{
    margin: 22px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    /* background-color: #A9A9A9; */
}


@media(max-width: 910px){
    .todoContainer{
        width: 90%;
        height: 90%;
    }
}

